* {
    margin: 0;
    padding: 0;
    border: none;
    outline-width: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
  }

  #site-container{
    max-width: 1440px ;
    margin: auto;
  }

  @import "./variables.scss";
  @import "./navigation.scss";
  @import "./footer.scss";
  @import "./home.scss";