* {
    margin: 0;
    padding: 0;
    border: none;
    outline-width: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }

  @import "./general/variables.scss";
  @import "./general/generals.scss";
  @import "./general/button.scss";
  @import "./components/navigation.scss";
  @import "./components/footer.scss";
  @import "./pages/home.scss";
  @import "./pages/3dPrinting.scss";
  @import "./pages/vr.scss";
  @import "./pages/cricut.scss";
  @import "./pages/adobeHelp.scss";
