// Button
.button{
    padding: 25px 40px;
    margin: 15px auto;
    font-weight: 500;
    color: white;
    font-size: 24px;
    border-radius: 30px;
    text-align: center;
    background-color: #982F6D;
    }