// Button
.button{
    display: inline-block;
    padding: 20px 60px;
    margin: 15px auto;
    font-weight: 500;
    color: white;
    font-size: 22px;
    border-radius: 30px;
    text-align: center;
    background-color: #982F6D;
    -webkit-box-shadow: -1px 5px 6px 0px rgba(0,0,0,0.30);
    -moz-box-shadow: -1px 5px 6px 0px rgba(0,0,0,0.30);
    box-shadow: -1px 5px 6px 0px rgba(0,0,0,0.30);
    }

#hours{
    padding: 20px 40px;
}