/***********************************/
  //Banner
  
  .img-3dPrinting{
    background: url("https://github.com/mckaymaclab/MacLabWbesite/blob/main/img/3d-printing/hero3dprinting.png?raw=true");
    position: relative;
  }

  //Overlay
  //Overlay
  .img-3dPrinting::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    background: rgb(0,0,0);
    background: -moz-linear-gradient(90deg, rgba(0,0,0,0.8674063375350141) 34%, rgba(0,212,255,0) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0,0,0,0.8674063375350141) 34%, rgba(0,212,255,0) 100%);
    background: linear-gradient(90deg, rgba(0,0,0,0.8674063375350141) 34%, rgba(0,212,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#00d4ff",GradientType=1);
  }

/***********************************/
  //OUR PRINTERS
  .main_section_ourPrinters {
    padding: 80px $paddingLeftRight;
    width: 100%;
    background-color: white;
  
    .section_div-ourPrintersGrid,
    .section_div-ourPrintersGridXL,
    .section_div-ourPrintersGridMK4 {
      width: 100%;
      display: grid;
      grid-gap: 20px;
      padding: 50px 0px 0px 20px;
  
      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
  
        img {
          width: 80%;
        }
      }
  
      .div_ourPrintersGrid-text {
        display: flex;
        justify-content: center;
        background-color: #f5ebf1;
        border-radius: 30px;
        padding: 20px;
        gap: 10px;
  
        h2 {
          font-size: 40px;
        }
  
        h4 {
          font-size: 30px;
          color: black;
          font-weight: bold;
        }
  
        p {
          font-size: 20px;
        }
      }
    }
  
    .section_div-ourPrintersGridXL {
      grid-template-columns: 1.05fr 1fr;
    }
  
    .section_div-ourPrintersGridMK4 {
      grid-template-columns: 1fr 1.05fr;
    }
  }
  
/***********************************/
  //How to Print

  .main_section-howToPrint{
    padding: 80px $paddingLeftRight;
    width: 100%;
    background-color: $color2;
  }

  .section_div-3dHowToGrid{
    width: 100%;
    display: grid;
    grid-gap: 20px;
    padding-top: 50px;
    grid-template-columns: 1fr 1fr;
    

    div{

      display: flex;
      flex-direction: column;
      justify-content: center;

      img{
        width: 100%;
      }

      a{
        color: $color1;
        text-decoration: underline;
        font-weight: 200;
      }
    }

    h2{ 
      font-size: 40px;
      color: black;
    }

    p{
      font-size: 24px;
      margin: 0px 30px;
    }
  }

  .div_3dHowToGrid-picture{
    display: flex;
    justify-content: center;
  }


/***********************************/
// OUR FILAMENTS SECTION

.main_section-Filaments{
  padding: 80px $paddingLeftRight;
  width: 100%;
  background-color: white;
}

.section_div-filament{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  padding:60px 0px 100px 0px;

  div{
    border-radius: 30px;
    height: 348px;
    width: 328px;
    padding: 0 10px;
    background-color: $color2;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 5px -3px rgba(0,0,0,0.16);

    img{
      width: 80%;
      padding-bottom: 50px;
    }

    h2{ 
      font-size: 40px;
      margin: 40px;
    }

    p{
      display: block;
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 10px 20px 20px 20px;
      background-color: white;
      border-radius:  0 0 30px 30px;

      span{
        margin-top:10px;
        font-weight: 100;
      }
    }
  }
}

.section_div-Colors{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
  justify-items: center;
  padding: 50px 0px;
  
}

.filamentColor{
  height: 104px;
  width: 104px;
  border-radius: 50%;
  margin-bottom: 30px;
  background-image:url("img/3d-printing/filaments/51sow89V-eL._AC_SL1500_.jpg");
  background-color: yellow;
  display: flex;

  img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin-bottom: 30px;

  }

}


/***********************************/
// NEED SUPPORT SECTION


.main_section-supports{
  padding: 80px $paddingLeftRight;
  width: 100%;
  background-color: #E1E1E1;
}

.section_div-supports{
  background-color: white;
  width: 100%;
  border-radius: 30px;
  padding:30px;
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 1fr 1fr;

  img{
    width: 100%;
    border-radius: 30px;
  }

  h3{
    font-size: 25px;
    font-weight: bold;
  }
}


// This Needs a class to dont affect all the page
// ul{
//   font-size: 20px;
//   padding-top: 25px;
//   list-style-type: disc;
// }







  
