.main_section-ourHours{
    padding: 80px $paddingLeftRight;
    width: 100%;
    background-color: $color2;

    .main_section-divHours{
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 60px 0px 100px 0px;

        div{
            border-radius: 30px;
            height: 195px;
            padding: 0px 35px;
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: left;
            justify-content: center;
        }

        h4{
            font-size: 30px;
            font-weight: 700;
            padding-bottom: 30px;
        }

        p{
            font-size: 20px;
        }

        #devotime{
            font-size: 12px;
            font-weight: 700;
        }
    }
}

.main_section-contactUs {
    padding: 80px $paddingLeftRight;
    width: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  input[type=text],
  select,
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid white;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    box-shadow: 0px 4px 4px rgba(58, 58, 0.25);
    border-radius: 10px;
  }
  
  input[type=submit] {
    background-color: $color1;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: $color1;
  }
  
  .container {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
  }
  
  label {
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 20px;
  }
  
  .section_div-floorplan {
    padding: 24px;

    img{
        width: 472px;
        height: 308px;
        left: 795px;
        top: 840px;
    }

    p{
        font-size: 16;
        font-weight: 400;
        line-height: 22px;
    }
  }

  