.main-cricut{
    padding: 0px;
}
  
  /***********************************/
  //Banner
  
  .img-cricut{
    background: url("https://github.com/mckaymaclab/MacLabWbesite/blob/main/img/cricut/cricuthero.JPG?raw=true");
    position: relative;
  }

  .section_div-bannerHeading{
    font-size: 50px;
    font-weight: bold;
  }

  #section_div-pannerP{
    font-size: 20px;
  }

  #service{
    font-size: 24px;
    color: #c84392;
  }



  //Overlay
.img-cricut::after{
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  background: rgb(0,0,0);
  background: -moz-linear-gradient(90deg, rgba(0,0,0,0.8674063375350141) 34%, rgba(0,212,255,0) 100%);
  background: -webkit-linear-gradient(90deg, rgba(0,0,0,0.8674063375350141) 34%, rgba(0,212,255,0) 100%);
  background: linear-gradient(90deg, rgba(0,0,0,0.8674063375350141) 34%, rgba(0,212,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#00d4ff",GradientType=1);
}

  /***********************************/
  //WHat IS IT section 

  .main_section-wathisit{
    width: 100%;
    padding:80px 20% 80px 180px;
    font-size: 24px;

    h2{
      text-align: left;
      margin-bottom: 60px;
    }
  }

/***********************************/
//Cricut FAQ
.faq-container{
  padding: 5px $paddingLeftRight;
}

a{
  color: #c84392;
}

