
.main-home{
  padding: 80px 180px;
  }

/***********************************/
//Banner

.img-home{
  background: url("/img/home/hero.jpg");
  position: relative;
}

//Overlay
.img-home::after{
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000000;
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0.6;
}

//
.section_div-homeText{
  margin: auto;
  color: white;
  z-index: 1;
  text-align: center;

  h1{
    font-size: 120px;
  }

  p{
    font-size: 30px;
  }
}



/***********************************/
//Services

.section_div-servicesContainer{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 20px;
padding: 70px 0 150px 0;


    div{
    height: 80px;
    border-radius: 50px;
    padding: 10px;
    background-color: rgb(255, 255, 255);   
    display: flex;
    justify-content: center;
    align-items: center;
    //boxshadow
    -webkit-box-shadow: -1px 5px 5px 0px rgba(0,0,0,0.22);
    -moz-box-shadow: -1px 5px 5px 0px rgba(0,0,0,0.22);
    box-shadow: -1px 5px 5px 0px rgba(0,0,0,0.22);


    i{
      font-size: 40px;
      margin-right:20px;
    }

    

    a{
      color: #000000;
      font-size: 20px;
      margin: 20px  15px
    }

    }
    #div_div-eq{
      padding: 10px;

    }

}


/***********************************/
// Equipment Section


.section_div-equipment{

    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding:60px 0 100px 0;
 
    div{
        border-radius: 30px;
        height: 356px;
        padding: 0 10px;
        background-color: #E1E1E1;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 10px 5px -3px rgba(0,0,0,0.16);

        img{
          width: 100%;  
        }

        p{
          display: block;
          position: absolute;
          bottom: 0;
          width: 100%;
          padding: 10px 20px 20px 20px;
          background-color: white;
          border-radius:  0 0 30px 30px;

          span{
            margin-top:10px;
            font-weight: 100;
          }
        }
    }
}

/***********************************/
// Calendar 

.section_div-calendar{
    width: 100%;
    height: 452px;
    border: solid 3px black;
    border-radius: 50px;
    margin: 60px 0 130px 0;
}

/***********************************/
// Slide Show 


/* Slideshow container */
.slideshow-container {
    width: 100%;
    position: relative;

    img{
        border-radius: 30px;
    }
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    // from {opacity: .4}
    // to {opacity: 1}
 
  }
  


