/***********************************/
//Banner

.img-vr{
  background: url("https://github.com/mckaymaclab/MacLabWbesite/blob/main/img/vr/VR%20Banner%20Photo.jpg?raw=true");
}

/***********************************/
//Apps section

.main_section-apps {
  padding: 90px var(--paddingLeftRight);
  position: relative;
}

.scroll-arrows {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  background-color: white;
  -webkit-box-shadow: -1px 5px 5px 0px rgba(0,0,0,0.22);
  -moz-box-shadow: -1px 5px 5px 0px rgba(0,0,0,0.22);
  box-shadow: -1px 5px 5px 0px rgba(0,0,0,0.22);
  color: black;
  font-size: 35px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 2;
}

.left-arrow {
  left: 100px; 
}

.right-arrow {
  right: 100px; 
}

.section_div-appsContainer {
  padding: 50px 0px;
  display: flex;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  overflow-y: hidden;
}

.section_div-appsContainer::-webkit-scrollbar { width: 0 !important }

.div-app {
  margin-top: 20px;
  background-color: white;
  width: 204px;
  border-radius: 30px;
  position: relative;
  margin-right: 30px;
}

.div-app img {
  width: 100%;
  border-radius: 30px 30px 0px 0px;
}

.div-app-picture {
  width: 204px;
  border-radius: 30px 30px 0px 0px;
}

.div-app-info {
  border-radius: 0 0 30px 30px;
  background-color: white;
  -webkit-box-shadow: -1px 5px 5px 0px rgba(0,0,0,0.22);
  -moz-box-shadow: -1px 5px 5px 0px rgba(0,0,0,0.22);
  box-shadow: -1px 5px 5px 0px rgba(0,0,0,0.22);
  padding: 15px;
}

/***********************************/
//VR FAQ

.main-section-faqVr{
  padding: 5px var(--paddingLeftRight);
}
