footer{
    background-color: black;
    width:100%;
}

.footer-divContainer{
    padding:40px var(--paddingLeftRight);
    display: grid;
    grid-template-columns: 60% 1fr 1fr;

    // Maclab logo size
    img{
        width: 250px;
    }

    .footer_div-box1{
        text-align: left;
    }

    div{
        width: 100%;
        // border: 1px solid rgb(205, 205, 205);
        color: white;
        text-align: right;

        h3{
            font-size: 20px;
            margin-bottom: 15px;
            color: white;
        }
        p{
            font-weight: 100;
            margin: 0;
        }    
        a{
            color: white;
            font-weight: 100;
            line-height:30px;
            text-decoration: none;
        }

    }
}

