footer{
    background-color: black;
    width:100%;
}

.footer-divContainer{
    padding:100px 180px;
    display: grid;
    grid-template-columns: 50% 1fr 1fr;

    div{
        width: 100%;
        // border: 1px solid rgb(205, 205, 205);
        color: white;


        h3{
            font-size: 20px;
            margin-bottom: 15px;
            color: white;
        }
        p{
            font-weight: 100;
        }    
        a{
            color: white;
            font-weight: 100;
            line-height:30px;
        }

    }
}

