/*----------Menu styles-----------*/
nav{
    width: 100%;
    background-color: black;
    display: flex;
    position: fixed;
    justify-content: space-between;
    z-index: 2;
}

.nav_logo-container{
    width: 28%;
    max-width: 350px;
    display: flex;

    div{ 
    width: 100%;
    }

    svg{
        width: 50%;
    }
}

.logo-container_left{
    display: flex;
    justify-content: center;
}

.logo-container_right{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-weight: 100;
    padding: 0 20px;

    a{
        color: white;
    }
}

.nav_buttons-container > li{
    display: inline-block;
}

.nav_buttons-container > li > a {
    display: block;
    color: white;
    font-size: 20px;
    padding: 40px 30px;
}


/*----------drop down-----------*/
.dropdown-content {
    position: absolute;
    background-color: white;
    display: none;

    a{
        display: block;
        font-size: 20px;
        padding: 20px 40px;
        text-decoration: none;
        color: #313038;
    }

    li:hover{

        background-color: rgb(0, 0, 0);

        a{
            color: white;
        }
    }
}

.nav_buttons-container li:hover .dropdown-content {
    display: block;
}


